@{
    ViewData["Title"] = "Bem Vindo!";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo ao PetVet</h1>
    <figure class="doggo">
        <img class="doggo" src="/images/doggo.jpg" alt="Dog with a dog cone sitting on a yard">
        <figcaption>Img 1 Fonte: FreeImages</figcaption>
    </figure>
    <div id="text">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempor non felis et hendrerit. 
            Maecenas aliquet ante sit amet felis aliquam maximus. Integer dictum dolor a mauris laoreet, eu pretium velit luctus. 
            Fusce sed justo ut urna porta elementum vel eget lacus. Nullam vitae justo purus. Maecenas eget dictum nunc. 
            Suspendisse placerat ipsum sit amet lacus volutpat ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Praesent vitae scelerisque metus, ornare pharetra felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquam, 
            enim pulvinar condimentum hendrerit, leo nibh consectetur lorem, sit amet aliquam nunc magna eget nulla. Sed et odio ac nibh convallis maximus. 
            Curabitur ac lobortis elit. Vestibulum tristique sit amet metus eu placerat. Fusce vitae dictum nisi. 
            Nam ultricies fermentum arcu, in blandit felis sollicitudin elementum.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempor non felis et hendrerit. 
            Maecenas aliquet ante sit amet felis aliquam maximus. Integer dictum dolor a mauris laoreet, eu pretium velit luctus. 
            Fusce sed justo ut urna porta elementum vel eget lacus. Nullam vitae justo purus. Maecenas eget dictum nunc. 
            Suspendisse placerat ipsum sit amet lacus volutpat ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Praesent vitae scelerisque metus, ornare pharetra felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquam, 
            enim pulvinar condimentum hendrerit, leo nibh consectetur lorem, sit amet aliquam nunc magna eget nulla. Sed et odio ac nibh convallis maximus. 
            Curabitur ac lobortis elit. Vestibulum tristique sit amet metus eu placerat. Fusce vitae dictum nisi. 
            Nam ultricies fermentum arcu, in blandit felis sollicitudin elementum.
        </p>
    </div>
</div>
