@{
    ViewData["Title"] = "Serviços";
}

<div class="servicos">
    <h1>@ViewData["Title"]</h1>

    <ul class="serv">
        <div class="coluna1">
            <li class="mainLi">Banho e Tosa</li>
            <ul class>
                <li>Banhos especiais e terapêuticos para o seu pet, incluindo uma tosa no estilo da sua preferência.</li>
                <li>R$69,90</li>
            </ul>
        </div>
        <div class="coluna2">
            <li class="mainLi">Hotel</li>
            <ul>
                <li>No hotelzinho da PetVet nós oferecemos interação supervisionada com outros pets, além de banho e uma alimentação balanceada enquanto eles estiverem hospedados em nossa casa.</li>
                <li>R$50/dia</li>
            </ul>
        </div>
        <div class="coluna3">
            <li class="mainLi">Check-up</li>
            <ul>
                <li>Traga o seu pet para uma revisão geral. Não deixe a saúde do seu pet para mais tarde!</li>
                <li>R$119,90</li>
            </ul>
        </div>
    </ul>
</div>
